# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ipynb_checkpoints/
*.ipynb

# Node / Frontend
node_modules/
dist/
build/
.eslintcache
*.log

# Data (Large files)
data/
*.csv
*.pkl
*.sqlite3

# Visualization artifacts
reports/figures/*.png
reports/figures/*.jpg

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
